@import url('https://fonts.googleapis.com/css?family=Open+Sans:300, 400|Raleway');

/*---------------------------------------------
                TABLE OF CONTENTS              
-----------------------------------------------
0. GLOBAL VARIABLES                        
1. TYPOGRAPHY           
2. CONTAINER AND COLUMNS
  2.1 SECTION BACKGROUND COLORS 
3. HEADER
4. CONTENT
5. FOOTER
6. MENUS AND NAVIGATION
7. CONTACT FORM

X. HOME PAGE STYLES                         
-----------------------------------------------*/

/*---------------------------------------------*/
/* 0. GLOBAL VARIABLES
/*---------------------------------------------*/


/*---------------------------------------------*/
/* 1 TYPOGRAPHY */
/*---------------------------------------------*/

h1, 
h2, 
h3 {
  font-family: 'Raleway';
}

h1 { font-size: 2em; }
h2 { font-size: 1.8em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1.2em; }
h5 { font-size: 1em; }
h6 { font-size: 0.8em }

p {
  font-family: 'Open Sans';
  margin-bottom: 15px;
}

body {
  text-align: center;
}

/*---------------------------------------------*/
/* 2 CONTAINER AND COLUMNS */
/*---------------------------------------------*/

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
}

/*---------------------------------------------*/
/* 2.1 SECTION BACKGROUND COLORS
/*---------------------------------------------*/

.box {
  color: #222;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}

.box--color1 { 
  background-color: #fff 
}

.box--color2 {
  background-color: rgb(246,249,251);
}

/*---------------------------------------------*/
/* 3. HEADER
/*---------------------------------------------*/

/*---------------------------------------------*/
/* 4. CONTENT
/*---------------------------------------------*/

/*---------------------------------------------*/
/* 5. FOOTER
/*---------------------------------------------*/

/*---------------------------------------------*/
/* 6. MENUS AND NAVIGATIONS
/*---------------------------------------------*/

/*---------------------------------------------*/
/* 7. CONTACT FORM
/*---------------------------------------------*/

input[type=text], 
select, 
textarea {
  width: 70%;
  padding: 1.2em;
  border: 1px solid #ccc;
  border-radius: 0.5em;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  resize: vertical;
}

textarea { font-family: 'Open Sans'; font-size: 0.7em }

/* Style the submit button with a specific background color etc */

input[type=submit] {
  background-color: rgb(0,214,97);

  padding: 1em 2em;
  border: none;
  border-radius: 4px;
  margin: 10px 0 0 0 ;

  color: white;
  font-size: 0.8em;

  cursor: pointer;
  transition: all .2s ease-in-out;
}

input[type=submit]:hover {
  background-color: rgb(0,164,97);
}