@import url('https://fonts.googleapis.com/css?family=Open+Sans:300, 400|Raleway');

h1, h2, h3 {
  font-family: raleway;
}

h1 { font-size: 2.5em; }

p {
  font-family: Open Sans;
  margin-bottom: 15px;
}

body {
  text-align: center;
}

.box1 {
  background-color: #fff;
  color: #222;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}

.box2 {
  background-color: rgb(246,249,251);
  color: #222;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 2em;
  color: #222;
  margin-left: 45%;
  color: #fff;
  line-height: 150px;
  text-align: right;
  background: rgb(0,214,97);
}

.profile {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
}

.rectangle {
  width: 100px;
  height: 100px;
  margin: auto;

  font-size: 2em;
  color: #222;

  line-height: 2em;
  text-align: center;
  background: #bbb;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
}


#map {
  width: 100%;
  height: 600px;
  background-color: grey;
}

/* for forms */

input[type=text], select, textarea {
  width: 70%;
  padding: 1.2em;
  border: 1px solid #ccc;
  border-radius: 0.5em;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  resize: vertical;
}

.process { 
  display: grid;
  grid-template-columns: 1fr;
  text-align:center;
}

textarea { font-family: Open Sans; font-size: 0.7em }

/* Style the submit button with a specific background color etc */

input[type=submit] {
  background-color: rgb(0,214,97);

  padding: 1em 2em;
  border: none;
  border-radius: 4px;
  margin: 10px 0 0 0 ;

  color: white;
  font-size: 0.8em;

  cursor: pointer;
  transition: all .2s ease-in-out;
}



input[type=submit]:hover {
  background-color: rgb(0,164,97);
}

@media only screen and (min-width: 500px) {
  .title { grid-column: 1 / span 4; }
  .form { grid-column: 1 }
  .gMaps { grid-column: 2; }
  .process { 
    grid-column: span 2; 
    display: grid;
    grid-template-columns: 1fr 3fr;
    text-align:left;
  }

  .profile {
    text-align: left;
    padding: 0vw 0vw 0vw 7vw;
  }

  .wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .contactF {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0% 0% 0% 50% ;
    padding: 10px;
    font-size: 2em;
    color: #fff;

    line-height: 150px;
    text-align: right;
    background: rgb(0,214,97);

  }

  .desc1 {
    padding-right: 80px
  }

  .desc2 {
    padding-right: 100px
  }
}